body{
  background-color: #CD5C5C;
  font-family: 'Marcellus SC', serif;
}

#movie-search-button {
	margin-top: 10px;
}

#login-container {
	margin-top: 100px;

}

.mainDiv{
	margin-top: 5%;
	text-align: center
}

.movie-output {
	margin-top: 15px;
	border: 2px solid lightgrey;
	border-radius: 2%;
	background-color: white;
}

#movie-adder {
	margin-top: 15px;
	margin-bottom: 15px;

}

.hidden {
	display: none;
}